* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans" sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-left: 76px; */
  /* margin-top: 5px; */
  /* margin-bottom: 35px; */
  background-color: #061c68b2;
}
#navbar img {
  width: 70px;
  margin-left: 100px;
  margin-top: 5px;
}

.navbar1 li {
  display: inline-block;
  padding-right: 70px;
  list-style-type: none;
  font-weight: normal !important;
  font-family: "oxygen", sans-serif;
}

.navbar1 li:hover {
  text-decoration: #7e2323 underline;
}

.navbar2 li {
  display: inline-block;
  padding-right: 70px;
  font-weight: normal;
  font-family: "oxygen", sans-serif;
  /* font-weight: lighter; */
}
#navbar a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: normal !important;
}

.navbar2 .Log {
  background-color: #e79e03;
  padding: 7px 35px;
  font-size: 12px;
  border-radius: 9px;
  font-weight: 400;
}

.navbar2 .sign {
  /* background-color: white; */
  color: #e79e03 !important;
  padding: 7px 30px;
  font-size: 12px;
  border: #e79e03 1px solid;
  border-radius: 9px;
  font-weight: 400;
}

/* Herosection */
.herosection {
  height: 100vh;
  background-image: url(../asset/image/payimg.svg);
  background-size: cover;
  width: 100%;
  height: 76vh;
  max-width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
}

.event {
  margin: 40px auto;
  background-color: #6600ff26;
  width: 90%;
  padding: 20px 20px;
}

.eventtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event h4 {
  font-size: 30px;
}

.et {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.et img {
  width: 15px;
  height: 15px;
}

.et span {
  font-size: 15px;
  color: #3f3c3c;
}

.dols {
  font-size: 20px;
  background-color: #e79e03;
  color: white;
  width: 50px;
  padding: 10px 17px;
  border-radius: 20px;
  margin-top: 30px;
  font-weight: normal !important;
}

.event-date {
  background-color: #061c68;
  padding: 40px 40px;
  text-align: center;
  color: #e79e03;
  font-size: 20px;
  border-radius: 12px;
}

/* description */

.description {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}

.description h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.description p {
  line-height: 20px;
  font-size: 18px;
}

.ticket-section{
    margin: 40px auto;
    width: 90%;

    h2{
        text-align: center;
        margin-bottom: 20px;
    }
}

.ticket-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid;
    text-align: center;
}

